/* reset */
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
/* layout */
#wrap{
    width: 1200px;
    margin: 0 auto;
    background-color: #666;

}
#header{
    width: 1200px;
    height: 100px;
    background: #ccc;
    overflow: hidden;

}
#header .logo{
    float: left;
}
#header .nav{
    float: right;
}
#header .nav li{
    display: inline;
}
#header .nav li a{
    display: inline;
    padding: 20px;
    color: #222328;
    font-size: 18px;
}
#slider{}
#info{}
#footer{}
