 .header__inner{
    width: 100%;
    height: 70px;
    background: #ccc;
    text-align: center;
    .header__logo{
    }
    .header__menu{
        li{
            display: inline-block;
            
            
        }
    }
 }